<!DOCTYPE html>
<html lang="en">
<head>
<title>Chat Example</title>
<script type="text/javascript">
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var log = document.getElementById("log");

    function appendLog(item) {
        var doScroll = log.scrollTop > log.scrollHeight - log.clientHeight - 1;
        log.appendChild(item);
        if (doScroll) {
            log.scrollTop = log.scrollHeight - log.clientHeight;
        }
    }

    function genUrl(url) {
        if (document.location.protocol === "https:") {
            return "wss://" + document.location.host + url
        } else {
            return "ws://" + document.location.host + url
        }
    }

    function initWs(ws) {
        ws.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(item);
        };
        ws.onmessage = function (evt) {
            const data = JSON.parse(evt.data);
            console.log(data);
            if (data.event === "user-joined") {
                var item = document.createElement("div");
                item.innerHTML = "<b>User " + data.payload.user + " joined.</b>";
                appendLog(item);
            } else if (data.event === "user-left") {
                var item = document.createElement("div");
                item.innerHTML = "<b>User " + data.payload.user + " left.</b>";
                appendLog(item);
            } else if (data.event === "action") {
                var item = document.createElement("div");
                item.innerHTML = "<b>" + data.payload.user + ":</b> " + data.message;
                appendLog(item);
            }
            // var messages = data.message.split('\n');
            // for (var i = 0; i < messages.length; i++) {
            //     var item = document.createElement("div");
            //     item.innerText = messages[i];
            //     appendLog(item);
            // }
        };
    }

    document.getElementById("form").onsubmit = function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        conn.send(JSON.stringify({ event: "action", target: "", payload: { message: msg.value }}));
        msg.value = "";
        return false;
    };

    document.getElementById("sessionBtn").onclick = () => {
        conn = new WebSocket(genUrl("/create?user=toto"));
        initWs(conn);
    }

    document.getElementById("joinBtn").onclick = () => {
        conn = new WebSocket(genUrl("/join/__default?user=tata"));
        initWs(conn);
    }

    // if (window["WebSocket"]) {
    //     if (document.location.protocol === "https:") {
    //       conn = new WebSocket("wss://" + document.location.host + "/ws");
    //     } else {
    //       conn = new WebSocket("ws://" + document.location.host + "/ws");
    //     }
    //     conn.onclose = function (evt) {
    //         var item = document.createElement("div");
    //         item.innerHTML = "<b>Connection closed.</b>";
    //         appendLog(item);
    //     };
    //     conn.onmessage = function (evt) {
    //         console.log(evt);
    //         var messages = evt.data.split('\n');
    //         for (var i = 0; i < messages.length; i++) {
    //             var item = document.createElement("div");
    //             item.innerText = messages[i];
    //             appendLog(item);
    //         }
    //     };
    // } else {
    //     var item = document.createElement("div");
    //     item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
    //     appendLog(item);
    // }
};
</script>
<style type="text/css">
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}

#log {
    background: white;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 5em;
    overflow: auto;
}

#form {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

</style>
</head>
<body>
<div id="log"></div>
<form id="form">
    <div>
        <input id="sessionBtn" type="button" value="Create Session" />
        <input id="joinBtn" type="button" value="Join session" />
    </div>
    <input type="submit" value="Send" />
    
    <input type="text" id="msg" size="64" autofocus />
</form>
</body>
</html>